@page
@model Music_Review_Application_GUI.Pages.Forms.AddAlbumModel
@{
    ViewData["Title"] = "Add Album";
}

<h1>Add Album</h1>
<form method="post">
    <br />
    <label>Album title</label>
    <br />
    <input type="text" asp-for="Album.Title" placeholder="" />
    <br />
    <label>Album artist</label>
    <br />
    <input type="text" asp-for="Album.ArtistNames" placeholder="" />
    <br />
    <label>Album artist</label>
    <br />
    <input type="text" asp-for="Album.ArtistNames" placeholder="" />
    <br />
    <label>Date of release</label>
    <br />
    <input type="text" asp-for="Album.DateDay" placeholder="Day" />
    <br />
    <input type="text" asp-for="Album.DateMonth" placeholder="Month" />
    <br />
    <input type="text" asp-for="Album.DateYear" placeholder="Year" />
    <br />
    <br />
    <button type="submit">Add album</button>
</form>
<br />
<div class="text-center">
    <p>@AddAlbumModel.Message</p>
</div>