@page
@model Music_Review_Application_GUI.Pages.Forms.AddSongModel
@{
    ViewData["Title"] = "Add Song";
}

<h1>Add Song</h1>
<form method="post">
    <input type="text" asp-for="Song.Title" placeholder="Song Title" />
    <input type="text" asp-for="Song.ArtistNames" placeholder="Song Artist" />
    <input type="text" asp-for="Song.ArtistNames" placeholder="Song Artist" />
    <input type="text" asp-for="Song.GenreNames" placeholder="Song Genre" />
    <input type="text" asp-for="Song.GenreNames" placeholder="Song Genre" />
    <input type="text" asp-for="Song.DateDay" placeholder="Day" />
    <input type="text" asp-for="Song.DateMonth" placeholder="Month" />
    <input type="text" asp-for="Song.DateYear" placeholder="Year" />
    <button type="submit">Add song</button>
</form>
<br/>
<div class="text-center">
    <p>@AddSongModel.Message</p>
</div>