@page
@model Music_Review_Application_GUI.Pages.Forms.AddSongModel
@{
    ViewData["Title"] = "Add Song";
}

<h1>Add Song</h1>
<br />
<form method="post">
    <label>Song title</label>
    <br />
    <input type="text" asp-for="Song.Title" placeholder="" />
    <br />
    <label>Song artist</label>
    <br />
    <input type="text" asp-for="Song.ArtistNames" placeholder="" />
    <br />
    <label>Song artist</label>
    <br />
    <input type="text" asp-for="Song.ArtistNames" placeholder="" />
    <br />
    <label>Song genre</label>
    <br />
    <input type="text" asp-for="Song.GenreNames" placeholder="" />
    <br />
    <label>Song genre</label>
    <br />
    <input type="text" asp-for="Song.GenreNames" placeholder="" />
    <br />
    <label>Date of release</label>
    <br />
    <input type="text" asp-for="Song.DateDay" placeholder="Day" />
    <br />
    <input type="text" asp-for="Song.DateMonth" placeholder="Month" />
    <br />
    <input type="text" asp-for="Song.DateYear" placeholder="Year" />
    <br />
    <br />
    <button type="submit">Add song</button>
</form>
<br/>
<div class="text-center">
    <p>@AddSongModel.Message</p>
</div>