@page
@namespace Music_Review_Application_GUI.Pages.Forms
@model UserListModel
@{
    ViewData["Title"] = "User List";
}

<h2>User List</h2>
<br />
<div>
    <p>Whose list do you want to see?</p>
    <form method="post">
        <input type="text" asp-for="Username" placeholder="" />
        <br />
        <br />
        <div asp-validation-summary="ModelOnly"></div>
        <span asp-validation-for="Username"></span>
        <br />
        <br />
        <button type="submit">View User List</button>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>